.contact-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 100px;

  border: 2px solid white;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
