.btn {
  width: fit-content;
  padding: 14px 24px;
  border: solid 1px #c90016;
  background-color: inherit;
  font-size: 16px;
  box-shadow: 0px 1px 2px 3px black;
}

.btn:hover {
  background: #c90016;
  transition: 0.8s ease-out all;
}
