.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;

  height: 100vh;
  width: 100px;
  background: #191919;
}
