.skills-container {
  display: flex;
  justify-content: space-between;
}

.skills-description-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 40%;
}

.tagcloud {
  position: relative;
  right: 40%;
  width: 60%;
  font-size: 20px;
  font-weight: 600;
}

.tagcloud > span {
  color: #c90016;
}
