.skills-container {
  display: flex;
  justify-content: space-between;

  padding: 100px 48px;
}

.description-container {
}

.skills-canvas {
  width: 500px;
}

.skills-canvas > ul {
  list-style: none;
}
