.skills-container {
  display: flex;
  justify-content: space-between;

  border: 2px solid white;
  padding: 100px;
}

.description-container {
  border: 1px solid blue;
}

.skills-canvas {
  width: 500px;
  border: 1px solid blue;
}

.skills-canvas > ul {
  list-style: none;
}
