.header-container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  position: relative;

  height: 75vh;
  padding: 100px 48px 0 64px;
}

.header-title {
  font-size: 10rem;
  line-height: 11rem;
}

.header-title > span {
  display: inline-flex;
}

#m {
  margin-right: 2rem;
}

@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.header-title > span:hover {
  color: #c90016;
  animation: rubberBand 1s;
}

.header-description {
  display: flex;
  flex-direction: column;
  gap: 12px;

  align-self: flex-start;
}

.header-child-container {
  padding: 24px 0;
  align-self: flex-end;
}

.description-first-line {
  padding-left: 20px;
}
.description-second-line {
  padding-left: 40px;
}
