.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
}

.logo-container > img {
  height: 65px;
  width: 70px;
}

@media (max-width: 500px) {
  .logo-container > img {
    height: 100%;
    width: 100%;
  }
}
