.social-links-container {
  display: flex;
  list-style: none;
  justify-content: center;

  padding-bottom: 24px;
}

.link-svg {
  width: 36px;
  height: 28px;
}

.social-link > a > svg:hover {
  color: #c90016;
  transition: 0.5s ease-out;
}
