.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  position: absolute;
  right: 0;
  overflow: scroll;

  width: 95%;
}

.main-container::-webkit-scrollbar {
  display: none;
}

main > section {
  height: 90vh;
}

main > header,
footer {
  height: 70vh;
}
