.work-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.sites-container {
  flex-wrap: wrap;
  display: flex;
  gap: 12px;
  padding-bottom: 18px;
}

@media (max-width: 1850px) {
  .sites-container {
    gap: 24px;
  }
}
@media (max-width: 1440px) {
  .sites-container {
    gap: 24px;
  }
}
@media (max-width: 773px) {
  .sites-container {
    justify-content: center;
  }
}
