.work-container {
  display: flex;
  flex-direction: column;
  gap: 9vh;
  position: relative;
  height: 100vh;
  padding: 100px 48px 0 64px;
  letter-spacing: 1px;
}

.sites-container {
  display: flex;
  justify-content: space-evenly;
  padding: 24px 0;
  border: 1px solid #c90016;
  box-shadow: 1px 3px 15px 18px rgb(0, 0, 0);
}

.work-description {
  width: 85%;
}
