* {
  margin: 0;
  padding: 0;
}

body {
  background: #1d1d1d;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

.page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
