* {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  color: white;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background: #1d1d1d;
}

.page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

section {
  height: 60vh;
  padding: 100px 48px 64px 48px;
  margin: 12px;
}

h2 {
  font-size: 3em;
  color: #c90016;
  padding: 30px 0 30px 6px;
}

h1 {
  padding: 20px 0 20px 6px;
}

p {
  padding: 30px 0 30px 6px;
}

::placeholder {
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
}

/* Before and After Tag Labels */
*::after,
*::before {
  position: absolute;
  color: #6b6b6d;
  font-family: 'Dancing Script', cursive;
  font-size: 1.3rem;
  font-weight: 400;
}

/* Add  two spans for body and html */

main::before {
  content: '<html>';
  top: 0;
  left: 12px;
}
main::after {
  content: '</html>';
  bottom: 0;
  left: 12px;
}

#htmlUp::before {
  content: '<body>';
  top: 24px;
  left: 20px;
}
#htmlDown::before {
  content: '</body>';
  bottom: 24px;
  left: 20px;
}

section::before {
  content: '<section>';
  top: 36px;
  left: 14px;
}
section::after {
  content: '</section>';
  left: 14px;
  bottom: 36px;
}

h1::before {
  content: '<h1>';
  top: 0;
  left: 0;
}
h1::after {
  content: '</h1>';
  left: 0;
  bottom: 0;
}

h2::before {
  content: '<h2>';
  top: 0;
  left: 0;
}
h2::after {
  content: '</h2>';
  left: 0;
  bottom: 0;
}

form::before {
  content: '<form>';
  top: 0;
  left: 0;
}
form::after {
  content: '</form>';
  left: 0;
  bottom: 0;
}

p::before {
  content: '<p>';
  top: 0;
  left: 0;
}
p::after {
  content: '</p>';
  left: 0;
  bottom: 0;
}
